#codeigniter 4
/writable/
!/writable/Mylog/index.html
!/writable/cache/index.html
!/writable/captcha/index.html
!/writable/debugbar/index.html
!/writable/logs/index.html
!/writable/session/index.html
